@{
    ViewData["Title"] = "Ошибка";
}

<div class="text-center">
    <h1 class="h1 text-danger">Ошибка при выполнении запроса...</h1>
    <h2 class="text-ligh">@ViewBag.Message</h2>
    <h4><a asp-action="Index" class="link-info">Вернуться на главную</a></h4>
</div>
